.loader {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  padding: 150px;
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(1),
.loader span:nth-child(5) {
  background: #000;
}

.loader span:nth-child(2) {
  background: #f07e6e;
}

.loader span:nth-child(3) {
  background: #84cdfa;
}

.loader span:nth-child(4) {
  background: #5ad1cd;
}

.loader span:not(:last-child) {
  animation: animate 1.5s linear infinite;
}