/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-container {
  background: white;
  border-radius: var(--card-radius);
  width: 90%;
  max-width: 450px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

.modal-header h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #5a6980;
  border-radius: 100%;
  border: solid white;
  border-width: 3px;
  outline-color: #ffc073;
  outline-width: 3px;
  outline-style: solid;
}

.modal-content {
  padding: 1.25rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem;
}

.cancel-btn {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  border: none;
}

.save-btn {
  background: #ff8e00;
  color: white;
  border: none;
  padding: 0.75rem 2.5rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}